<% if @tracks_favorite.count == 0 %>
  <p class='text-center mssg'> You don't have favotites songs</p>
<% else %>
<ul class='fav-songs'>
  <% @tracks_favorite.each do |track|%>
  <div class="row">
    <div class="col-md-4"><%= track.name%></div>
    <div class="col-md-4"><%= track.album.name %></div>
    <div class="col-md-4"><%= track.album.band.name%>
      <% if track.favotite %>
        <%= link_to "",  favorite_track_path(track), class: ' fa fa-star-o favorite', method: :put %>
      <% else %>
        <%= link_to "",  favorite_track_path(track), class: ' fa fa-star-o', method: :put %>
      <% end %>
    <%= link_to "", { action: :destroy, id: track.id }, class: ' fa fa-trash', method: :delete  %>
  </div>
  </div>
  <% end %>
</ul>
<% end %>
