

<main class='bands'>
  <h2 class='text-center'>Artists</h2>
  <div class="row text-center">
    <%= link_to 'All Artists', bands_path, class: 'btn btn-default' %>
    <%= link_to 'Add a Band/Artist', '/bands/new', class: 'btn btn-default' %>
    <%= link_to 'See  all favorites Artists', bands_path(favorite: true), class: 'btn btn-default' %>
  </div>
  <div class="container">

    <div class="row">

      <% if params[:favorite] %>
        <%= render 'favorite_bands'%>
      <% else %>
        <%= render 'all_bands'%>
      <% end %>

    </div>


  </div>
</main>
